@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/webfontkit/Roboto-Regular.woff2') format('woff2'),
        url('assets/fonts/roboto/webfontkit/Roboto-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/webfontkit/Roboto-Italic.woff2') format('woff2'),
        url('assets/fonts/roboto/webfontkit/Roboto-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Roboto';
    src: url('assets/fonts/roboto/webfontkit/Roboto-Bold.woff2') format('woff2'),
        url('assets/fonts/roboto/webfontkit/Roboto-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}